{% extends "base.html" %}

{% block content %}


<div class="main">
    <h1>Cars for sale</h1>

    <div class="filter">
        <p>Filter:</p>
        <form action="" method="get" class="filter">
            <p><input type="text" name="search"></p>
            <p><input type="submit" value="filter"></p>
        </form>
    </div>

    <p><a href="/project/new">Add new car</a> </p>

    <table>
        <tr>
            <th>id</th>
            <th>brand</th>
            <th>model</th>
            <th>year</th>
            <th>price</th>
            <th>actions</th>
        </tr>
        {% for project in projects %}
        <tr>
            <td>{{ project.id }}</td>
            <td>{{ project.brand }}</td>
            <td>{{ project.model }}</td>
            <td>{{ project.year }}</td>
            <td>{{ project.price }}</td>
            <td><a href="/project/{{ project.id }}">Details</a>
                <a href="/project/edit/{{ project.id }}">Edit</a>
                <form action="project/delete/{{ project.id }}" method="post">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="statistics">
    <h3>Statistics</h3>
    <p><strong>Cheapest Car:</strong> {{ cheapest_car.brand }} {{ cheapest_car.model }} - ${{ cheapest_car.price }}</p>
    <p><strong>Most Expensive Car:</strong> {{ most_expensive_car.brand }} {{ most_expensive_car.model }} - ${{ most_expensive_car.price }}</p>
    <p><strong>Average Year of Cars:</strong> {{ avg_year }}</p>
    <p><strong>Average Price of Cars:</strong> ${{ avg_price }}</p>
    </div>
</div>
{% endblock %}